{% extends "app/layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Fitur OCR</h1>
    <p class="lead">Gunakan Fitur OCR Untuk Mengambil Teks Pada Gambar </p>
    <p><a href="https://repositori.kemdikbud.go.id/2860/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<body>
    <form method="POST" enctype="multipart/form-data" action="/process_image">
        {% csrf_token %}
        <div class="file-field input-field left">
            <div class="btn black-text waves-effect waves-dark" style="background-color: #eeeeee ">
                Upload
                {{ form.as_p }}
                <button type="submit" name="action" value="action1">Tulisan Tangan</button>
                <button type="submit" name="action" value="action2">Font Komputer</button>
                <div>
                    <br />
                    <p>
                        Hasil OCR <input value="{{text}}" name="text" type="text" id="konversisunda" placeholder="Hasil OCR" size="50" class="input color" />
                    </p>
                </div>

            </div>
        </div>
    </form>
    <br />
    <div class="well text-center">
        <div class="col-md-12">Proses OCR:</div>
        <div class="row">
            <div class="col-md-6">
                <a><img src="{{ input_image }}" width="380" height="300"></a>
            </div>
           
            <div class="col-md-6">
                <a><img src="{{ urii }}" width="380" height="300"></a>
            </div>
        </div>
    </div>
    {% if search_results %}
    <p>Hasil pencarian untuk "<strong>{{ text }}</strong>":</p>
    <ul>
        {% for result in search_results %}
        <li> {{ text }} merupakan bahasa {{ result.results|join:", " }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br />
    
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Bahasa Sunda Lemes</th>
                    <th>Bahasa Sunda Sedang</th>
                    <th>Bahasa Indonesia</th>
                </tr>
            </thead>
            <tbody>
                {% for bahasa in queryset %}
                <tr>
                    <td>{{ bahasa.id }}</td>
                    <td>{{ bahasa.Sunda_Lemes }}</td>
                    <td>{{ bahasa.Sunda_Sedang }}</td>
                    <td>{{ bahasa.Indonesia }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}
