{% extends "app/layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Kosa Kata</h1>
    <p class="lead">Bahasa Sunda dituturkan oleh masyarakat yang berada di Pulau Jawa bagian Barat.</p>
    <p><a href="https://repositori.kemdikbud.go.id/2860/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<body>
    <div class="container">
        <form method="GET" action="/konversiIndonesia">
            <table>
                <tr>
                    <td><input value="" name="textindonesia" type="text" id="Bindonesia" placeholder="indonesia" class="input" /></td>
                    <td><button type="submit" class="btn btn-outline-primary">Terjemah</button></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="container">
        <form method="GET" action="/konversiSundaLemes">
            <table>
                <tr>
                    <td><input name="textsundalemes" type="text" id="Bindonesia" placeholder="Sunda Lemes" class="input" /></td>
                    <td><button type="submit" class="btn btn-outline-primary">Terjemah</button></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="container">
        <form method="GET" action="/konversiSundaSedang">
            <table>
                <tr>
                    <td><input name="textsundasedang" type="text" id="Bindonesia" placeholder="Sunda Sedang" class="input" /></td>
                    <td><button type="submit" class="btn btn-outline-primary">Terjemah</button></td>
                </tr>
            </table>
        </form>
    </div>
    <br />

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bahasa Sunda Lemes</th>
                        <th>Bahasa Sunda Sedang</th>
                        <th>Bahasa Indonesia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bahasa in queryset %}
                    <tr>

                        <td>{{ bahasa.id }}</td>
                        <td>{{ bahasa.Sunda_Lemes }}</td>
                        <td>{{ bahasa.Sunda_Sedang }}</td>
                        <td>{{ bahasa.Indonesia }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}
